*{
    box-sizing: border-box;
    font-family: "Roboto"
}

header{
    display: flex;
    justify-content: center;
}

form{
    text-align: center;
}

input, button{
    padding: 8px;
}

#listas{
    display: flex;
    justify-content: center;
}

li{
    cursor: pointer;
}

.riscado {
    text-decoration: line-through;
}







